@media only screen and (max-width: 1000px){
		.header_bottom {
		background-color: #ffffff;
	}
				.header_bottom,
		nav.mobile_menu{
			background-color: #008097 !important;
		}
					.content .container .container_inner.default_template_holder,
		.content .container .container_inner.page_container_inner {
			padding-top:50px !important; /*important because of the inline style on page*/
		}
	}
@media only screen and (min-width: 480px) and (max-width: 768px){
	
	        section.parallax_section_holder{
			height: auto !important;
			min-height: 400px;
		}
		}
@media only screen and (max-width: 768px){
	
	
	
	
	
	
	
	
	}
@media only screen and (max-width: 600px) {
	
			h2, h2 a {
			font-size: 43px; 			line-height: 35px; 		    letter-spacing: -2px; 		}
	
			h3, h3 a {
			font-size: 30px; 			line-height: 25px; 		    		}
	
	
	
	
	}
@media only screen and (max-width: 480px){

			section.parallax_section_holder {
			height: auto !important;
			min-height: 400px;
		}
	
				.footer_bottom {
			line-height: 23px;
		}
	
	}