# Application
web/app/plugins/*
!web/app/plugins/.gitkeep
!web/app/plugins/js_composer
!web/app/plugins/revslider
!web/app/plugins/revslider-beforeafter-addon
!web/app/plugins/revslider-particles-addon
!web/app/plugins/revslider-snow-addon
web/app/mu-plugins/*/
web/app/upgrade
web/app/uploads/*
!web/app/uploads/.gitkeep
config/secrets.yml
# WordPress
web/wp
web/.htaccess


config/backups/


log/*
# Dotenv
.env
.env.*
!.env.example
*.DS_Store
# Composer
/vendor

# WP-CLI
wp-cli.local.yml
